[submodule "tree-sitter/vala"]
	path = tree-sitter/vala
	url = https://github.com/vala-lang/tree-sitter-vala
[submodule "tree-sitter/graphql"]
	path = tree-sitter/graphql
	url = https://github.com/joowani/tree-sitter-graphql
